body {
    background-color: #f7ddc0;
}

.bg-book-outermost {
    display: flex;
    margin-left: 5%;
    margin-top: 10%;
    margin-bottom: 20px;
    width: 90%;
    height: 550px;
}

.bg-book-outer {
    position: relative;
}

#left_page_div {
    float:left; 
    width:49%;
    height:80%;
}

#page_separator {
    float:left; 
    background:#dee2e6;
    width: 0.1%;
    height: 70%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: block;
    box-shadow: 0px 0px 15px 3px gray;
    z-index: 1;
}

#right_page_div {
    float:left;
    width:49%;
    height:80%;
    
}

.bg-book-inner-top {
    position: absolute;
    background: #fff;
    height: 10%;
    width: 100%;
    top: -1px;
    left: -1px;
    border-top-right-radius: 400%;
    border-top-left-radius: 400%;
}

.bg-book-inner-bottom {
    position: absolute;
    background: #f7ddc0;
    height: 10%;
    width: 100%;
    bottom: -1px;
    left: -1px;
    border-top-right-radius: 400%;
    border-top-left-radius: 400%;
}

.bg-book-inner-middle {
    position: absolute;
    background: #fff;
    height: 92%;
    width: 100%;
    bottom: -1px;
    left: -1px;
}


