@font-face {
    font-family: AlmaraiRegular;
    src: url(../static/fonts/Almarai-Regular.ttf);
}

html {
    background: url(./img/main-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    position: absolute;
    text-align: center;
    border-bottom: 2px solid brown;
    font-family: AlmaraiRegular;
}

.navbar,
li>a {
    text-align: center;
    font-family: AlmaraiRegular !important;
    font-size: 18px !important;
}

.active {
    border-bottom: 4px solid brown;
    font-weight: 900 !important;
}

.search {
    margin-top: 40px;
}

body {
    background: url(./img/main-bg.svg);
}

form,
label {
    direction: rtl;
    font-family: AlmaraiRegular !important;
}

h3 {
    direction: rtl;
    font-family: AlmaraiRegular !important;
}

h6 {
    direction: rtl;
    font-family: AlmaraiRegular !important;
}

select {
    height: 100%;
    width: 105%;
}

#poems_of_poet td {
    direction: rtl;
    font-family: AlmaraiRegular !important;
}

#poet_paragraph {
    direction: rtl;
    font-family: AlmaraiRegular !important;
}

select {
    height: 100%;
    width: 105%;
}

#search_form {
    padding: 50px;
    padding-top: 0px;
    padding-left: 80px;
}

#poet_details_div {
    padding: 50px;
    padding-top: 0px;
    padding-left: 80px;
}

#get_poems_div {
    padding: 50px;
    padding-top: 0px;
    padding-left: 80px;
}

.bg-book-outermost {
    display: inline-block;
    margin-left: 5%;
    margin-top: 0%;
    padding-top: 2%;
    margin-bottom: 20px;
    width: 90%;
    height: 650px;
    background: url(./img/main-bg.svg);
}

.bg-book-outer {
    display: inline-block;
    position: relative;
}

#left_page_div {
    float: left;
    width: 49%;
    height: 100%;
}

#page_separator {
    float: left;
    background: #dee2e6;
    width: 0.1%;
    height: 90%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: block;
    box-shadow: 0px 0px 15px 3px gray;
    z-index: 1;
}

#right_page_div {
    float: left;
    width: 49%;
    height: 100%;
}

.bg-book-inner-top {
    position: absolute;
    background: #fff;
    height: 10%;
    width: 100%;
    top: -1px;
    left: -1px;
    border-top-right-radius: 400%;
    border-top-left-radius: 400%;
}

.bg-book-inner-bottom {
    position: absolute;
    background: url(./img/main-bg.svg);
    height: 10%;
    width: 100%;
    bottom: -1px;
    left: -1px;
    border-top-right-radius: 400%;
    border-top-left-radius: 400%;
}

.bg-book-inner-middle {
    position: absolute;
    background: #fff;
    height: 92%;
    width: 100%;
    bottom: -1px;
    left: -1px;
}


.bg-book-outermost .container {
    padding-left: 50px;
    padding-right: 50px;
}

.table tbody tr.highlight td {
    background-color: #ddd;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* The alert message box */
.alert {
    display: inline-block;
    padding: 20px;
    background-color: #f44336;
    /* Red */
    color: white;
    margin-bottom: 15px;
}

.alert.success {
    background-color: #04AA6D;
}

.alert.info {
    background-color: #2196F3;
}

.alert.warning {
    background-color: #ff9800;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

#header {
    margin-right: 20%;
    margin-left: 5%;
}
