@font-face {
    font-family: AlmaraiRegular;
    src: url(../static/fonts/Almarai-Regular.ttf);
  }

html {
    background: url(./img/main-bg.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.navbar {
    position: absolute; 
    text-align: center;
    border-bottom: 2px solid brown;
    font-family: AlmaraiRegular;
}

.navbar, 
    li > a {
        text-align: center;
        font-family: AlmaraiRegular !important;
        font-size: 18px !important;
    }
    .active {
        border-bottom: 4px solid brown;
        font-weight: 900 !important;
    }

.search {
    margin-top: 40px;
}

body {
    background: url(./img/main-bg.svg);
}

form,
    label {
        direction: rtl;
        font-family: AlmaraiRegular !important;   
    }
    h3 {
        font-family: AlmaraiRegular !important;
    }
    select {
        height: 100%;
        width: 105%;
    }

#search_form {
    padding: 50px;
    padding-top: 0px;
    padding-left: 80px;
}

.bg-book-outermost {
    display: flex;
    margin-left: 5%;
    margin-top: 8%;
    margin-bottom: 20px;
    width: 90%;
    height: 650px;
    background: url(./img/main-bg.svg);
}

.bg-book-outer {
    position: relative;
}

#left_page_div {
    float:left; 
    width:49%;
    height:80%;
}

#page_separator {
    float:left; 
    background:#dee2e6;
    width: 0.1%;
    height: 70%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: block;
    box-shadow: 0px 0px 15px 3px gray;
    z-index: 1;
}

#right_page_div {
    float:left;
    width:49%;
    height:80%;
    
}

.bg-book-inner-top {
    position: absolute;
    background: #fff;
    height: 10%;
    width: 100%;
    top: -1px;
    left: -1px;
    border-top-right-radius: 400%;
    border-top-left-radius: 400%;
}

.bg-book-inner-bottom {
    position: absolute;
    background: url(./img/main-bg.svg);
    height: 10%;
    width: 100%;
    bottom: -1px;
    left: -1px;
    border-top-right-radius: 400%;
    border-top-left-radius: 400%;
}

.bg-book-inner-middle {
    position: absolute;
    background: #fff;
    height: 92%;
    width: 100%;
    bottom: -1px;
    left: -1px;
}


