<link href="{% static "/custom.css" %}" rel="stylesheet">




<div class="bg-book-outermost">

  <div id="left_page_div" class="bg-book-outer">
      <div class="bg-book-inner-top"></div>
      <div id="left_page_content" class="bg-book-inner-middle"></div>
      <div class="bg-book-inner-bottom"></div>
  </div>

  <div id="right_page_div" class="bg-book-outer">
    <div class="bg-book-inner-top"></div>
    <div id="right_page_content" class="bg-book-inner-middle"></div>
    <div class="bg-book-inner-bottom"></div>
  </div>

</div>