<!DOCTYPE html>

{% extends "base.html" %}

{% load static %}

{% block additional_head %}
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<link rel="stylesheet" href="{% static "/customize-ui/dist/open-accessibility.min.css" %}" />
	<script src="{% static "/customize-ui/dist/open-accessibility.min.js" %}"></script>
{% endblock %}

{% block left_content %}

  <div class="container">

    {% if poet_list %}

    <script>
      $(document).ready(function() {
        $("#search_form").empty();
		$("#poet_details_div").hide();
		$("#back_btn").hide();
      })
    </script>

		{% for row in poet_list %}
			<div class="row">
				{% for poet in row %}
					<div class="col-sm-2 py-2">
						<a href="#" onclick="getPoetDetails('{{ poet.poet_name }}')">
							<div class="card" style="width: 5rem;">
								<img class="card-img-top" src="{% static "icons/mini-book-cover-gray.png" %}" alt="Card image cap">
								<div class="card-body">
									<p class="card-text" style="direction: rtl">{{ poet.poet_name }}</p>
								</div>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
        {% endfor %}

    {% elif search_results %}
		<script>
			$(document).ready(function() {
				renderOptions();
				renderPoems('{{ search_results }}');
			})
		</script>

		<div id="poem_options">
			<table id="options_table" class="table" style="width: 80%">
				<tbody>
					<tr>
						<td>
							<div id="word_meaning"></div>
						</td>
						<td style="text-align: right; padding-top: 20px; padding-bottom: 20px;">
							<h6>معاني الكلمات</h6>
							<br>
							<input type="text" id="word_search">
							<br>
							<button type="submit" onclick="getMeaning()" class="btn btn-primary" style="margin: 5px !important;">ابحث</button>
						</td>
					</tr>
					<tr>
						<td>
							<div id="poem_generator"></div>
							<div id="loader_div" class="loader" style="display: none;"></div>
						</td>
						<td style="text-align: right; padding-top: 20px; padding-bottom: 20px;">
							<h6>تأليف الشعر</h6>
							<br>
							<input type="text" id="model_word_search">
							<br>
							{% if all_poet_dropdown %}
								<select class="form-control select2" id="model_poet" style="width: 40%; min-width: 40%;">
									{% for p in all_poet_dropdown %}
										<option value="{{ p.poet_name }}">{{ p.poet_name }}</option>
									{% endfor %}
								</select>
								<br>
							{% endif %}
							<button type="submit" onclick="getPrediction()" class="btn btn-primary" style="margin: 5px !important;">قم بالتأليف</button>
						</td>
					</tr>
					<tr>
						<td>
							<div id="sentiment"></div>
						</td>
						<td style="text-align: right; padding-top: 20px; padding-bottom: 20px;">
							<h6>غزل أم هجاء</h6>
							<span style="font-size: 14px; direction: rtl; font-family: AlmaraiRegular !important;">(حدد بيتاً من الشعر في الصفحة المجاورة لتحليل العاطفة)</span>
							<br>
							<button type="submit" onclick="getSentiment()" class="btn btn-primary" style="margin: 5px !important;">قم بالتحليل</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	{% else %}
		<script>
			$(document).ready(function() {
				renderSearchForm('');
			})
		</script>
    {% endif %}

  </div>
{% endblock %}


{% block right_content %}
  <form id="search_form" method="POST" action=".">

    {% csrf_token %}

    {% if msg|length > 0 %}
        {{ msg }}
    {% endif %}

    <h3>البحث</h3>
    <br>

    <div class="form-group">
      <input type="radio" id="radio_bayt" name="radio_bayt" value="radio_bayt" onclick="renderSearchForm('bayt');">
      <label for="radio_bayt">البحث عن بيت شعر</label>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" id="radio_poet" name="radio_poet" value="radio_poet" onclick="renderSearchForm('poet');">
      <label for="radio_poet">البحث عن شاعر</label>
    </div>

    <br>

    <div id="poet_name_div" class="form-group">
      <label for="poet_name">اسم الشاعر</label>
      <input type="text" class="form-control" id="poet_name" name="poet_name" {% if search.params.poet_name %}value="{{ search.params.poet_name }}"{% endif %}>
    </div>

    <div id="keyword_div" class="form-group">
      <label for="keyword">كلمة البحث</label>
      <input type="text" class="form-control" id="keyword" name="keyword">
    </div>

    <div id="bahr_div" class="form-group">
      <label for="bahr_dd">البحر</label><br>
      <select id="bahr_dd" name="bahr_dd" class="js-example-basic-single">
        <option value="الطويل">الطويل</option>
        <option value="المنسرح">المنسرح</option>
        <option value="المتقارب">المتقارب</option>
      </select>
    </div>

    <div id="age_div" class="form-group">
      <label for="age_dd">العصر</label><br>
      <select id="age_dd" name="age_dd" class="js-example-basic-single">
        <option value="قبل الإسلام">قبل الإسلام</option>
        <option value="الأموي">الأموي</option>
        <option value="الأيوبي">الأيوبي</option>
      </select>
    </div>

    <br>

    <button type="submit" class="btn btn-primary">ابحث</button>

  </form>

  	<div id="poet_details_div" >

		<h3>عن الشاعر</h3>
		<br>

		<p id="poet_paragraph">

		</p>
		<input type="hidden" id="hidden_poet_name"></input>

		<button type="submit" onclick="getPoems()" class="btn btn-primary">منشورات الشاعر</button>

	</div>

	<div id="get_poems_div" >

		<h3 id="reader_poet_name"></h3>

		<br>

		<table id="poems_of_poet" class="table table-hover lead open-accessibility-text">
			<tbody>

			</tbody>
		</table>

		<button type="submit" id="back_btn" onclick="window.location.href = '';" class="btn btn-primary">العودة</button>

	</div>


{% endblock %}


{% block raw_js %}

<script>

  $(document).ready(function() {

    var dd_options = {
      maximumSelectionLength: 5,
      dropdownAutoWidth: true,
      multiple: true,
      dir: 'rtl'
    }
    $('#bahr_dd').select2(dd_options);
    $('#age_dd').select2(dd_options);

    $('body').openAccessibility({
      // override the settings of the Accessibility Tools
      grayscale: 0,
      brightness: 100,
      contrast: 100,
      maxZoomLevel: 3,
      minZoomLevel: 0.5,
      zoomStep: 0.2,
      zoom: 0.8,
      cursor: false,
      invert: false,

      // text selector
      textSelector: '.open-accessibility-text',

      // s(mall), m(edium), l(arge)
      iconSize: 'm',

      // local
      localization: ['ar'],
    });

	$('table[id^=poems_of_poet]').on('click', 'tbody tr', function(event) {
		$(this).addClass('highlight').siblings().removeClass('highlight');
	});

	$('#model_poet').select2();

  });

</script>

{% endblock %}
