<!DOCTYPE html>

{% extends "base.html" %}

{% load static %}

{% block additional_head %}
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<link rel="stylesheet" href="{% static "/customize-ui/dist/open-accessibility.min.css" %}" />
	<script src="{% static "/customize-ui/dist/open-accessibility.min.js" %}"></script>

	<link rel="stylesheet" href="{% static "/assets/css/index_cleanup.css" %}" />

{% endblock %}

{% block left_content %}

{% if poet_list %}

<div class="container" id="poet_container">

    <script>
      $(document).ready(function() {
        $("#search_form").empty();
		$("#poet_details_div").hide();
		$("#back_btn").hide();
      })
    </script>

		{% for row in poet_list %}
			<div class="row">
				{% for poet in row %}
					<div class="col-sm-2 py-2">
						<a href="#" onclick="getPoetDetails('{{ poet.poet_name }}')">
							<div class="card" style="width: 5rem;">
								<img class="card-img-top" src="{% static "icons/mini-book-cover-gray.png" %}" alt="Card image cap">
								<div class="card-body">
									<p class="card-text" style="direction: rtl">{{ poet.poet_name }}</p>
								</div>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
        {% endfor %}
	</div>

    {% elif search_results %}
		<script>
			$(document).ready(function() {
				renderOptions();
				renderPoems('{{ search_results }}');
			})
		</script>

	{% else %}
		<script>
			$(document).ready(function() {
				renderSearchForm('');
			})
		</script>
    {% endif %}

	<div id="poem_options" style="display: none;">
		<table id="options_table" class="table" style="width: 80%">
			<tbody>
				<tr>
					<td style="vertical-align: middle; text-align: center;">
						<div id="word_meaning"></div>
					</td>
					<td style="text-align: right;">
						<h6>معاني الكلمات</h6>
						<input type="text" id="word_search">
						<br>
						<button type="submit" onclick="getMeaning()" class="btn btn-primary" style="margin: 5px !important;">ابحث</button>
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle; text-align: center;">
						<div id="poem_generator"></div>
						<div id="loader_div" class="loader" style="display: none;"></div>
					</td>
					<td style="text-align: right;">
						<h6>تأليف الشعر</h6>
						<input type="text" id="model_word_search">
						<br>
						{% if all_poet_dropdown %}
							<select class="form-control select2" id="model_poet" style="width: 60%; min-width: 40%;">
								{% for p in all_poet_dropdown %}
									<option value="{{ p.poet_name }}">{{ p.poet_name }}</option>
								{% endfor %}
							</select>
							<br>
						{% endif %}
						<button type="submit" onclick="getPrediction()" class="btn btn-primary" style="margin: 5px !important;">قم بالتأليف</button>
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle; text-align: center;">
						<div id="sentiment"></div>
					</td>
					<td style="text-align: right;">
						<h6>غزل أم هجاء</h6>
						<span style="font-size: 14px; direction: rtl; font-family: AlmaraiRegular !important;">(حدد بيتاً من الشعر في الصفحة المجاورة لتحليل العاطفة)</span>
						<br>
						<button type="submit" onclick="getSentiment()" class="btn btn-primary" style="margin: 5px !important;">قم بالتحليل</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

{% endblock %}


{% block right_content %}
  <form id="search_form" method="POST" action=".">

    {% csrf_token %}

    {% if msg|length > 0 %}
		<div class="alert">
			<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
			{{ msg }}
	  	</div>
    {% endif %}

    <h3>البحث</h3>
    <br>

    <div id="radio_div" class="form-group">
		<div id="radio_bayt_div" class="underline_radioBtn">
			<div class="checkmark_container">
				<input type="radio" id="radio_bayt" name="radio_bayt" value="radio_bayt" onclick="renderSearchForm('bayt');">
				<span class="checkmark"></span>
			</div>
			<label for="radio_bayt">البحث عن بيت شعر</label>
		</div>

		<div id="radio_poet_div">
			<div class="checkmark_container">
				<input type="radio" id="radio_poet" name="radio_poet" value="radio_poet" onclick="renderSearchForm('poet');">
				<span class="checkmark"></span>
			</div>
			<label for="radio_poet">البحث عن شاعر</label>
		</div>
    </div>

	<!-- search by poet -->

    <div id="poet_name_div" class="form-group search-input-div">
      <label for="poet_name">ابحث عن اسم الشاعر</label>
      <input type="text" class="form-control" id="poet_name" name="poet_name" {% if search.params.poet_name %}value="{{ search.params.poet_name }}"{% endif %}>
    </div>

	<div id="poet_dd_div" class="form-group search-input-div">
		<label for="poet_dd">اختر الشاعر</label><br>
		<select class="form-control select2" id="poet_dd" name="poet_dd" style="width: 100%; min-width: 100%;">
			{% if all_poet_dropdown %}
				{% for p in all_poet_dropdown %}
					<option value="{{ p.poet_name }}">{{ p.poet_name }}</option>
				{% endfor %}
			{% else %}
				<option>--Select--</option>
			{% endif %}
		</select>
	</div>

	<!-- search by poem -->

    <div id="keyword_div" class="form-group search-input-div">
      <label for="keyword">كلمة البحث</label>
      <input type="text" class="form-control" id="keyword" name="keyword">
    </div>

    <div id="bahr_div" class="form-group search-input-div">
      <label for="bahr_dd">البحر</label><br>
      <select id="bahr_dd" name="bahr_dd" class="js-example-basic-single">
		{% if bahr_list %}
			{% for b in bahr_list %}
				<option value="{{ b.name }}">{{ b.name }}</option>
			{% endfor %}
		{% endif %}
      </select>
    </div>

    <div id="age_div" class="form-group search-input-div">
      <label for="age_dd">العصر</label><br>
      <select id="age_dd" name="age_dd" class="js-example-basic-single">
		{% if age_list %}
			{% for a in age_list %}
				<option value="{{ a.name }}">{{ a.name }}</option>
			{% endfor %}
		{% endif %}
      </select>
    </div>

	<button type="submit" class="btn btn-primary">ابحث</button>

  </form>

  	<div id="poet_details_div" >

		<h3>عن الشاعر</h3>
		<br>

		<p id="poet_paragraph">

		</p>
		<input type="hidden" id="hidden_poet_name"></input>

		<button type="submit" onclick="getPoems()" class="btn btn-primary">منشورات الشاعر</button>

	</div>

	<div id="get_poems_div" >

		<h3 id="reader_poet_name"></h3>

		<br>

		<table id="poems_of_poet" class="table table-hover lead open-accessibility-text">
			<tbody>

			</tbody>
		</table>

		<button type="submit" id="back_btn" onclick="window.location.href = '';" class="btn btn-primary">العودة</button>

	</div>


{% endblock %}


{% block raw_js %}

<script>

	function setMainDivMinHeight() {
		var poem_options = $('#poem_options').height();
		var search_form = $('#search_form').height();
		var get_poems_div = $('#get_poems_div').height();
		var poet_details_div = $('#poet_details_div').height();
		if ($('#poem_options').is(':hidden')) {
			poem_options = 0;
		}
		if ($('#search_form').is(':hidden')) {
			search_form = 0;
		}
		if ($('#get_poems_div').is(':hidden')) {
			get_poems_div = 0
		}
		if ($('#poet_details_div').is(':hidden')) {
			poet_details_div = 0
		}
		var max_h = Math.max(poem_options, search_form, get_poems_div, poet_details_div)
		var quart = max_h * .35;
		$('#book-outermost').css('min-height', max_h+quart+'px');
	}

	$(document).ready(function() {

		var dd_options = {
			maximumSelectionLength: 5,
			dropdownAutoWidth: true,
			multiple: true,
			dir: 'rtl'
			}
			$('#bahr_dd').select2(dd_options);
			$('#age_dd').select2(dd_options);

			$('body').openAccessibility({
			// override the settings of the Accessibility Tools
			grayscale: 0,
			brightness: 100,
			contrast: 100,
			maxZoomLevel: 3,
			minZoomLevel: 0.5,
			zoomStep: 0.1,
			zoom: 0.8,
			cursor: false,
			invert: false,

			// text selector
			textSelector: '.open-accessibility-text',

			// s(mall), m(edium), l(arge)
			iconSize: 'm',

			// local
			localization: ['ar'],
		});

		$('table[id^=poems_of_poet]').on('click', 'tbody tr', function(event) {
			$(this).addClass('highlight').siblings().removeClass('highlight');
		});

		$('#model_poet').select2({dir: 'rtl'});
		$('#poet_dd').select2({dir: 'rtl'});

		$('button.btn.btn-primary').wrap('<div class="button_div"></div>');

		setMainDivMinHeight();

	});

	$(document).click(function() {
		setTimeout(function() {
			setMainDivMinHeight();
		}, 1000);
	})

	$('#radio_div').on('click', function(){
		if ($('#radio_bayt').is(':checked')) {
			$('#radio_bayt_div').addClass('underline_radioBtn')
			$('#radio_poet_div').removeClass('underline_radioBtn')
		} else {
			$('#radio_bayt_div').removeClass('underline_radioBtn')
			$('#radio_poet_div').addClass('underline_radioBtn')
		}
	})

</script>

{% endblock %}
