<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="{% static "/assets/img/logo.png" alt=""> -->
        <h1></h1>
        </a>

        <nav id="navbar" class="navbar">
        <ul>
            <li><a href="index.html">تواصل</a></li>
            <li><a href="single-post.html">تدوينات</a></li>
            <li><a href="about.html">أبيات</a></li>
            <li><a href="contact.html">موسوعات</a></li>
            <li><a href="library.html" {% if request.path == '/library.html' %} class="active"{% endif %}>مكتبة</a></li>
            <li><a href="./">رئيسية</a></li>
        </ul>
        </nav><!-- .navbar -->

        </div>

    </div>

</header><!-- End Header -->
